@import "tailwindcss";




:root {
  --primary: #000000;
  --secondary: #ededed;
  --lBackground: #171717;
  --lText: #a1a1a1;
  --border: #ffffff36;
  --accent: #4284b9;
  font-family: "Assistant";
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-lBackground: var(--lBackground);
  --color-lText: var(--lText);
  --color-border: var(--border);
  --color-accent: var(--accent);
}

.group:hover .translate-image {
  transform: translateY(calc(-100% + 200px)) !important;
}

.HeroImageDropShadow {
  filter: drop-shadow(0 0 200px #4284b9);
}

.HeadlineTextGradient {
  background-image: linear-gradient(0deg, var(--color-secondary), var(--color-secondary)/20 33%, var(--color-secondary) 67%);
}

.LiftedText {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3)
}

.CustomShadow {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

.HeroBgGrid {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(0, 0, 0, 0.05)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
  mask-image: linear-gradient(180deg, #fff 1%, transparent 90%);
}